PORT=5000
MONGODB_URI=mongodb+srv://sajolibn_db_user:82WA5fHDwSEnWgXd@cluster0.vi2cirn.mongodb.net/?appName=Cluster0
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d

# Cloudinary Setup
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002,https://ecoshinebd.com,https://www.ecoshinebd.com,https://dashboard.ecoshinebd.com,https://www.dashboard.ecoshinebd.com,https://dashboard-eco-shine-bd.vercel.app,https://eco-shine-bd.vercel.app
